@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  scroll-behavior:smooth;
}
body{
  background:#F8F8F5;
  color:#111111;
  overflow-x:hidden;
}
a{
  text-decoration:none;
  color:inherit;
}
button{
  cursor:pointer;
  border:none;
}